<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    
  </head>
  <body>

    <section>
        <div class="container">
            <div class="row">
    
                <div class="col-md-6">
                    <div class="product-page-left-wrapper">
                        <div class="product-title">
                            <h1 class="bangla-font">কাতল মাছ</h1>
                        </div>
                        <div class="product-image">
                            <img src="../assets/images/new1.jpg" class="img-fluid" alt="">
                            
                            <div class="row mt-2">
                                <div class="col-md-3"><img src="../assets/images/new1.jpg" class="img-fluid" alt=""></div>
                                <div class="col-md-3"><img src="../assets/images/new1.jpg" class="img-fluid" alt=""></div>
                                <div class="col-md-3"><img src="../assets/images/new1.jpg" class="img-fluid" alt=""></div>
                                <div class="col-md-3"><img src="../assets/images/new1.jpg" class="img-fluid" alt=""></div>
                            </div>

                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="product-page-right-wrapper ">
                        <div class="billing-title">
                            <h1 class="bangla-font">বিলিং</h1>
                        </div>

                        <div class="price-wrapper mt-5">
                        <div class="product-prices">
                            <p class="mb-4">লব্ধ প্যাক আকারঃ</p>
                        </div>
                            <div class="row">
                                <div class="col-md-4 product-weight"><a href="#">৪৫০ গ্রাম</a><p class="mt-4"><a class="product-var-price" href="#">৭৫০ টাকা</a></p></div>
                                <div class="col-md-4 product-weight"><a href="#">১ কেজি</a><p class="mt-4"><a class="product-var-price" href="#">10৫০ টাকা</a></p></div>
                                <div class="col-md-4 product-weight"><a href="#">২ কেজি</a><p class="mt-4"><a class="product-var-price" href="#">16৫০ টাকা</a></p></div>
                                <div class="col-md-12">
                                    <p class="mt-5">তুমি থাকলে, কষ্টও সহজ মনে হয়, গন্তব্য যত দূরেই হোক, কাছেই মনে হয়। তুমি থাকলে, কষ্টও সহজ মনে হয়, গন্তব্য যত দূরেই হোক, কাছেই মনে হয়। তুমি থাকলে, কষ্টও সহজ মনে হয়, গন্তব্য যত দূরেই হোক, কাছেই মনে হয়।</p>
                                    <p class="p-category-tag"><span class="bold">ক্যাটেগরিঃ </span>সামুদ্রিক মাছ</p>
                                    <p class="p-category-tag"><span class="bold">মূল্যঃ </span>৭৫০ টাকা</p>
                                </div> 
                            </div>
                        </div>

                    </div>
                </div>
    
            </div>
        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>

